.communityContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.communityBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-card-elements);
  border: 1px solid #e1e8ed;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.communityImage {
  border-radius: 5%;
  overflow: hidden;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 150px;
}

.communityContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.communityContent h4 {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
}

.role {
  font-weight: 600;
  color: #4b8de1;
}

.date {
  font-size: 0.9rem;
  color: rgb(88, 86, 86);
}

.communityContent p {
  font-size: 1rem;
  margin-bottom: 0;
  text-align: center;
}

.linkButton {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  background-color: #4b8de1;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.linkButton:hover {
  background-color: #357ae8;
}

@media (max-width: 768px) {
  .communityBlock {
    flex-direction: column;
    align-items: center;
  }

  .communityImage {
    width: 220px;
    height: 150px;
  }
}
