.container {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  background-color: #eceef1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 5vh;
  transition: all 0.5s;
}
.container a {
  color: black;
  transition: all 0.5s;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 600;
}

.openContainer {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  background-color: #d1d4d7;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 5vh;
  transition: all 0.5s;

}

.openContainer a {
  color: black;
  transition: all 0.5s;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 600;
}




.container a:hover {
  transition: all 0.5s;
  cursor: pointer;
  transform: scale(1.1);
}

.container a:focus {
  transition: all 0.5s;
}

.navSections {
  display: flex;
  gap: 1vw;
  
}

.navSections a {
  font-weight: 400;
  margin-right: 3vw;
}

.navSections a:hover {
  font-weight: 400;
  text-decoration: none;
  color: #4b8de1;
}

