.container {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 96%;
  height: 10vh;
}

.navLinks{
  display: flex;
}

.container a {
  color: black;
  transition: all 0.5s;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 600;
}

.container a:hover {
  color: #2e48f0;
  transition: all 0.5s;
  cursor: pointer;
}

.container a:focus {
  color: rgb(0, 86, 246);
  transition: all 0.5s;
}

.icons {
    margin: 40px;
    font-size: 1.5rem;
}

.navSections {
  display: flex;
  gap: 1vw;
}

.navSections a{
  font-weight: 400;
}

.navSections a:hover{
  font-weight: 400;
  text-decoration: underline;
  color: black;
}

@media (max-width: 1200px) {
  .container {
    display: none;
  }
}
