.titleEducation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}

.educationContainer {
  font-size: 1.1rem;
  
}

.educationContainer a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.educationContainer a:hover {
  color: #4b8de1;
}

.educationContainer h4 {
  font-size: 1.2rem;
}

@media (max-width: 627px) {
.titleEducation{
  gap: 10vw;
}

.educationContainer h4, .titleEducation{
  font-size: 1rem;
}
}
