.titleEducation {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.educationContainer a{
    cursor: pointer;
    text-decoration: none;
    color: grey;
}

.educationContainer a:hover{
color: #4b8de1;
}

.educationContainer h4{
    font-size: 1.2rem;
}