.btnContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.aboutContainer {
  font-size: 1.1rem;
}

.iconsMain {
  color: black;
  display: flex;
  margin: 2vh auto;
  list-style: none;
  gap: 2vw;
  font-size: 2rem;
  padding: 0;
}

.iconContainer {
  transition: transform 0.3s;
}

.iconContainer:hover {
  transform: translateY(-10px); 
}

.iconsMain a {
  text-decoration: none;
  color: black;
}

.icons a{
  cursor: default;
}

.icons a:hover {
  color: #4b8de1;
  cursor: pointer;
}


.downloadContainer a{
  text-decoration: none;
  color: white;
  background-color: black;
  font-weight: 500;
  font-size: 18px;
  border-radius: 20px;
  padding: 8px 35px 7px;
  transition: all .5s ease;
  cursor: pointer;
}

.downloadContainer a:hover{
  background-color: #4b8de1;
  transition: all .5s ease;
  box-shadow: var(--shadow-elevation);
}

.aboutText {
  margin-top: 7vh;
}


@media (max-width: 700px) {
  .downloadContainer a{
    font-size: 0.8rem;
  }
  .aboutText {
    margin-top: 2vh;
  }
  }

  @media (max-width: 250px) {
    .downloadContainer a{
      font-size: 0.5rem;
      padding: 5px 30px 6px;
    }
    .aboutText {
      margin-top: 2vh;
    }
    }
