@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --shadow-color: 0deg 0% 67%;
  --shadow-elevation-low:
    0.1px 0.3px 0.5px hsl(var(--shadow-color) / 0),
    0.2px 0.6px 0.9px hsl(var(--shadow-color) / 0.2),
    0.4px 1.3px 2px hsl(var(--shadow-color) / 0.4);
  --shadow-elevation-medium:
    0.1px 0.3px 0.5px hsl(var(--shadow-color) / 0),
    0.4px 1.3px 2px hsl(var(--shadow-color) / 0.1),
    0.8px 2.2px 3.5px hsl(var(--shadow-color) / 0.2),
    1.3px 3.8px 6px hsl(var(--shadow-color) / 0.3),
    2.2px 6.4px 10.2px hsl(var(--shadow-color) / 0.4);
  --shadow-elevation-high:
    0.1px 0.3px 0.5px hsl(var(--shadow-color) / 0),
    0.9px 2.6px 4.1px hsl(var(--shadow-color) / 0.05),
    1.5px 4.5px 7.1px hsl(var(--shadow-color) / 0.09),
    2.2px 6.4px 10.2px hsl(var(--shadow-color) / 0.14),
    2.9px 8.4px 13.3px hsl(var(--shadow-color) / 0.19),
    3.7px 10.9px 17.3px hsl(var(--shadow-color) / 0.23),
    4.8px 14px 22.2px hsl(var(--shadow-color) / 0.28),
    6.2px 18.1px 28.7px hsl(var(--shadow-color) / 0.33),
    7.9px 23.3px 36.9px hsl(var(--shadow-color) / 0.37),
    10.2px 29.9px 47.4px hsl(var(--shadow-color) / 0.42);
}

*:hover {
  cursor: default;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-weight: 500;
}

.main {
  padding: 20vh 10vw 10vh 10vw;
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-direction: column;
}

name,
h2,
hr {
  color: #4b8de1;
  padding-top: 10vh;
}

.about {
  display: flex;
  gap: 5vw;
  margin-top: 10vh;
}

footer {
  text-align: center;
  margin-bottom: 10vh;
  font-size: 1.1rem;
}
