@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
  --shadow-color: 0deg 0% 67%;
  --shadow-elevation:
    0px 0.2px 0.3px hsl(var(--shadow-color) / 0),
    -0.1px 1.2px 1.8px hsl(var(--shadow-color) / 0.05),
    -0.1px 2px 3px hsl(var(--shadow-color) / 0.09),
    -0.1px 2.9px 4.4px hsl(var(--shadow-color) / 0.14),
    -0.2px 3.8px 5.7px hsl(var(--shadow-color) / 0.19),
    -0.2px 4.9px 7.4px hsl(var(--shadow-color) / 0.23),
    -0.3px 6.3px 9.5px hsl(var(--shadow-color) / 0.28),
    -0.4px 8.1px 12.2px hsl(var(--shadow-color) / 0.33),
    -0.5px 10.5px 15.8px hsl(var(--shadow-color) / 0.37),
    -0.6px 13.4px 20.1px hsl(var(--shadow-color) / 0.42);
}


html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #dee0e0;
  text-align: center;
  cursor: default;
}

.main {
  padding: 8vh 10vw 10vh 10vw;
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-direction: column;
}

name,
h2,
hr {
  color: #4b8de1;
  padding-top: 10vh;
}


.about {
  display: flex;
  gap: 5vw;
  margin-top: 10vh;
}

footer {
  text-align: center;
  margin-bottom: 1vh;
  font-size: 1rem;
}

.introMain {
  transition: opacity 2s;
  opacity: 0;
}

.introMain.visible {
  opacity: 1;
}

@media (max-width: 1200px) {
  .main {
    padding: 6vh 10vw 10vh 10vw
  }
}

@media (max-width: 505px) {
  body, p, h4{
    font-size: 0.9rem;
  }
  }

  @media (max-width: 343px) {
    body, p, h4{
      font-size: 0.8rem;
    }

    .main {
      margin: 0;
    }

    }