@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  font-weight: 500;
}

.main {
  padding: 10vw;
  margin-left: 8%;
  margin-right: 8%;
  display: flex;
  flex-direction: column;
}

.resume {

}

name, h3 {
  color: #4b8de1;
}


