.mainUl {
  display: flex;
  flex-wrap: wrap;
  gap: 5vh 3vw;
  justify-content: center;
  text-align: center;
  padding: 35px 0 70px 0;
  height: 65vh;
  overflow-y: auto;
  box-shadow: inset 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 15px;
}

.mainUl::-webkit-scrollbar {
  width: 12px;
}

.mainUl::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
  border: 2px solid #ddd;
  cursor: pointer;
}

.mainUl::-webkit-scrollbar-thumb {
  background: #4b8de1;
  border-radius: 10px;
  transition: background 0.3s ease;
  cursor: pointer;
}

.mainUl::-webkit-scrollbar-thumb:hover {
  background: #1e90ff;
}

.card {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  border-radius: 15px;
  padding: 10px;
  background-color: var(--background-card-elements);
  box-shadow: var(--shadow-elevation);
  position: relative;
  transition: transform 0.3s;
}

.cardHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cardHeader:hover {
  background-color: rgba(75, 141, 225, 0.1);
}

.toggleIcon {
  font-size: 1.5rem;
  transition: transform 0.6s;
}

.open {
  transform: rotate(180deg);
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.8s ease, opacity 0.8s ease;
}

.card.active .cardContent {
  max-height: 1000px;
  opacity: 1;
}

.cardContent.alwaysOpen {
  max-height: none;
  opacity: 1;
  overflow: visible;
  transform: none;
}

.image {
  position: relative;
  width: 280px;
  height: 180px;
  transition: transform 1s;
  overflow: hidden;
  object-fit: cover;
}

.imageCard {
  height: 100%;
  transition: transform 1s;
  opacity: 1;
}

.imageCard:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.techsContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.techsContainer p {
  color: #4b8de1;
  font-weight: 800; 
}

.techTitle {
  margin-bottom: 0;
}

.btn,
.btnDemo {
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  background-color: #f4f4f4;
  transition: all 0.5s;
  border: 0.1px solid grey;
}

.btn:hover,
.btnDemo:hover {
  box-shadow: var(--shadow-elevation);
}

/* Descripción */
.descriptionText {
  width: 80%;
}

@media (max-width: 1200px) {
  .card {
    width: 300px;
  }
}

@media (max-width: 627px) {
  .card {
    width: 85%;
  }

  .cardHeader {
    justify-content: center;
    gap: 10px;
  }

  .toggleIcon {
    font-size: 1.2rem;
  }

  .image {
    height: 120px;
  }

  .techsContainer p {
    padding: 2px;
    margin: 10px 3px 10px 3px;
    font-size: 0.9rem;
    column-gap: 0;
  }

  .btn,
  .btnDemo {
    font-size: 0.9rem;
  }
}

@media (max-width: 350px) {
  .card {
    margin: 0 250px 0 250px;
  }
}
