.mainUl {
  display: flex;
  flex-wrap: wrap;
  gap: 5vh 10vw;
  justify-content: center;
  text-align: center;
  padding: 35px 0 70px 0;
  height: 55vh;
  overflow-y: auto;
  box-shadow: inset 0px 0px 8px 1px rgba(0, 0, 0, 0.4);
  z-index: 1;
  border-radius: 15px;
}


.mainUl::-webkit-scrollbar {
  width: 2px;
}

.mainUl::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.mainUl::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.mainUl li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  box-shadow: var(--shadow-elevation);
  width: 450px;
  border-radius: 15px;
  padding-bottom: 20px;
}

.image {
  position: relative;
  width: 400px;
  height: 200px;
  transition: transform 1s;
  overflow: hidden;
}

.imageCard {
  height: 100%;
  transition: transform 1s;
  opacity: 1;
}

.imageCard:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.card h4 {
  margin: 10px 0 0 0;
}

.techsContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  justify-content: center;
}

.techsContainer p {
  color: #4b8de1;
  font-weight: 800;
}

.descriptionText {
  width: 80%;
}

.btn,
.btnDemo {
  margin: 5px;
  padding: 10px;
  border-radius: 7px;
  cursor: pointer;
  background-color: #f4f4f4;
  transition: all 0.5s;
  border: 0.1px solid grey;
}

.btn:hover,
.btnDemo:hover {
  box-shadow: var(--shadow-elevation);
}

@media (max-width: 1200px) {
  .mainUl {
    justify-content: center;
  }
}

@media (max-width: 627px) {
  .image {
    width: 190px;
    height: 100px;
  }

  .techsContainer p {
    padding: 2px;
    margin: 10px 3px 10px 3px;
    font-size: 0.6rem;
  }

  .buttonContainer button{
    font-size: 0.6rem;
  }

  .mainUl li {
    width: 200px;
  }


}

@media (max-width: 350px) {

  .card {
    margin:0 250px 0 250px;
  }


}
