.avatar {
    width: 200px;
    height: 200px;
    position: relative;
  }

  
  .containerMainSection {
    display: flex;
    gap: 8vw;
  }

  
  .presentation {
    font-size: 3rem;
    height: 5vh;
  }
  
  .position {
    color: grey;
    font-size: 1.5rem;
    font-weight: 400;
  }

  

