.avatar {
  width: 200px;
  height: 200px;
  position: relative;
}

.containerMainSection {
  display: flex;
  gap: 8vw;
}

.presentation {
  font-size: 3rem;
  height: 5vh;
}

.position {
  color: grey;
  font-size: 1.5rem;
  font-weight: 400;
  height: 1vh;
}

@media (max-width: 1200px) {
  .containerMainSection {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}

@media (max-width: 627px) {
  .presentation {
    font-size: 2rem;
  }
  .avatar {
    width: 150px;
    height: 150px;
  }

  .position{
    font-size: 1rem;
    width: 50vw
  }
}

@media (max-width: 450px) {
  .presentation {
    font-size: 2rem;
  }

}
