.skillsUl {
  display: grid;
  grid-template-columns: 35% 35% 30%;
  grid-template-rows: 25% 25% 25%;
  padding: 0;
  margin: 0;
  align-content: center;
  justify-items: center;
  list-style-type: none;
  
}

.skillsUl li {
  display: flex;
  align-items: top;
  width: 100%;
  border-left: 2px solid #F4F4F4;
  margin: 2vh;
}

.skillsUl p{
    margin-left: 2vw;
}

.skillsUl span{
    margin: auto 10px;
    
}

.skillsUl li:hover {
    border-left: 2px solid #4b8de1;
}

.details {
  color: grey;
  margin-left: 5px;
}

@media (max-width: 627px) {
    .skillsUl {
        grid-template-columns: 40% 40%;
        grid-template-rows: 25% 25% 25%;
        
      }
}